#gradient {
  width: 40vw;
  height: 30vh;
  background: #fc3ffb;
  position: absolute;
  z-index: 0 !important;
  filter: blur(130px);
}

@media screen and (max-width: '768px') {
  #gradient {
    filter: blur(50px);
  }
}
